:root {
  --primary-color: #0a1128;
  --white-color: #ffffff;
  --light-gray-color: #eeeeee;
  --gray-color: #d3c9c9e8;
  --secondary-color: crimson;
  --gap: 3rem;
  --gap-content: 1rem;
  --second-color:#1B1717;
}
